{% extends 'paginas/base.html' %}

{% block title %}Acerca{% endblock %}

{% block contenido %}
    <h1>Acerca de mí</h1>
    <div id="contenido_block">
        <h3>Hola! Hello! Bonjour!</h3>
        <h4><strong>Deja me presento</strong> ...</h4>
        <p>Me llamo <strong>Richard Mansilla</strong> y soy estudiante de la Universidad Católica de Temuco. <br>
        Tengo 19 años, y vengo de una isla en el sur del país. Esta isla se llama <strong>Chiloé</strong>.</p>
        <p>Me gusta mucho aprender y tomar nuevos desafíos, ya que siento que le dan sentido <br>
            a mi esistencia, o simplemente soy muy inquieto aveces y curioso por el mundo que nos rodea.</p>
        
        <h4><strong>¿Qué disfruto hacer?</strong></h4>
        <p>Disfruto mejorar y tener hobbies de calidad, o que siento que me aportan un valor, o que 
            <br>me hacen sentir muy feliz, como:</p>
            <li>Entrenar en el gimnasio</li>
            <li>Tocar guitarra</li>
            <li>Aprender nuevos idiomas</li>
            <li>Cocinar</li>
            <li>Practicar artes marciales</li>
            <li>Programar</li>
            <li>Jugar videojuegos</li>
            <li>Leer</li>
            <li>Tomar fotografias</li>
        
        <p>Proximamente, me gustaría aprender a programar y crear proyectos interesantes que <br>
        pueda combinar con otros tipos de tecnologías, ya sea arduino, u otro tipo de hardware.</p>
        
        <h4><strong>¿Qué me gustaría hacer?</strong></h4>
        <p>Me gustaria hacer proyectos de software y documentarlo para crear algún tipo de<br>
        contenio en internet para poder compartir el conocimiento con otras personas y/o<br>
        que me permita aprender cosas nuevas y mejorar mi habilidad.</p>
        
        
    </div>
{% endblock %}
