{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <a href="{% url 'inicio' %}">Inicio</a>
                <a href="{% url 'acerca' %}">Acerca</a>
                <a href="{% url 'contacto' %}">Contacto</a>
            </nav>
        </header>

        <main>
            {% block contenido %}{% endblock %}
        </main>
    
    </div>
    {% include 'paginas/footer.html' %}
</body> 
</html>
