{% extends 'paginas/base.html'%}
{% block title %}Inicio{% endblock %}
        {% block contenido %}
            <h1>Bienvenido a la página de Inicio</h1>
            <p>Este es el inicio de mi página web desarrollada con Django.</p>
            <br>
                <div id="contenido_block">
                    <h3>¿Qué encontrarás aquí?</h3>
                    <ul>
                        <li>Información sobre mí</li>
                        <li>Formas de contacto</li>
                        <li>Próximos proyectos y novedades</li>
                    </ul>
                </div>
{% endblock %}